<div class="about-container">
  <mat-card class="developer-card">
    <mat-card-header>
      <div mat-card-avatar class="developer-card-header-image"></div>
      <mat-card-title>Navneet Kuamr</mat-card-title>
      <mat-card-subtitle>Full Stack / Web Developer</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="../../assets/imgs/pics/my_pic.jpg" alt="Navneet Kumar"> -->
    <mat-card-content>
      <p>
        I'm a Full Stack Developer based in Pune, India.
        Everything started with the passion towards techonology. In 2016, I got my first job as a Graduate Engineer
        Trainee in L&T Infotech (LTI), Chennai. Right now I have 2+ years of experience as a Full Stack Developer in
        LTI, Pune. I enjoy turning complex problems into simple, beautiful and intuitive designs.
        Main area of my expertise is front end development and everything related with this side of web, HTML, CSS,
        JavaScript building small & big Web Apps, Angular 2+, features and animations. I also work as a Full Stack
        Developer - mainly in MEAN Stack environment and java restful services. I have experience with MongoDB, MySql
        and Node.JS too. Connect with me -
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" href="https://navneetkumar31.github.io/portfolio"
        target="_blank">Portfolio</a>
      <a mat-raised-button color="primary" href="https://www.facebook.com/navneet.dev" target="_blank">Facebook</a>
      <a mat-raised-button color="primary" style="margin-right: 0 !important;"
        href="https://linkedin.com/in/navneetkumar31/" target="_blank">Linkedin</a>
    </mat-card-actions>
  </mat-card>
</div>
