.accounts-container {
  height: 100%;
  padding: 2rem;
}

#fathersModal {
  .my-modal-content {
    width: 90%;
  }
}

.my-modal {
  .my-modal-content {
    min-width: 60%;

    .row {
      margin: 0;
      padding: 0;
    }

    .col-wrapper {
      padding: 1rem 2rem;
    }

    .my-mat-table-card {
      width: 100% !important;

      .filter-field {
        width: 100%;
        padding: 0 1rem;
      }
    }
  }
}
