@import '../../assets/ext_lib/css/variable.scss';

.home-container {
  .banner-wrapper {
    figure {
      position: relative;
      text-align: center;
      padding: 1rem 0;

      img {
        width: 50%;
        max-height: 400px;
      }

      p {
        position: absolute;
        bottom: 0rem;
        width: 100%;
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 500;
        color: #fff;
        text-shadow: 5px 5px #000;
      }

      .control-panel {
        position: absolute;
        width: 100%;
        top: 13rem;

        .btn {
          background-color: $primaryColor;
          color: #fff;
        }

        .pre-btn {
          left: 1rem;
          float: left;
        }

        .next-btn {
          right: 1rem;
          float: right;
        }
      }
    }
  }

  .content-wrapper {
    .card-wrapper {
      padding: 0 1rem;
      display: inline-block;
      width: 50%;

      .content-card {
        padding: 0;
        width: 70%;
        margin: 0 auto;
        box-shadow: none;
        border-radius: 10px;

        &:hover {
          border: 1px solid #ccc;
          background-color: #fff;
          box-shadow: $boxShadow;
        }

        .header {
          padding: 1rem 0;
          text-align: center;
          border-bottom: 1px solid #ccc;

          .title {
            font-size: 1.5rem;
            margin: 0;
            padding: 0;
          }
        }

        .content {
          padding: 1rem;

          p {
            text-align: justify;
            font-size: 15px;
          }
        }
      }
    }
  }
}
